<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/css/style.css">
</head>
<body>
    <header>
        <h1>Database for movies!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a> </li>
                <li><a href="/search">Search</a> </li>
                <li><a href="/movies">Movies</a> </li>
            </ul>
        </nav>
    </header>
    <p>This will be the homepage</p>
</body>
</html>